<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.csmall.product.mapper.CategoryMapper">
    <!--int insert(Category category);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into mall_pms.pms_category
        values(
               null,#{name},#{parentId},#{depth},
                #{keywords},#{sort},#{icon},#{enable},
                #{isParent},#{isDisplay},#{gmtCreate},#{gmtModified}
              )
    </insert>
    <!--int insertBatch(List<Category> categories);-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mall_pms.pms_category
        VALUES
        <foreach collection="list" item="i" separator=",">
            (null,#{i.name},#{i.parentId},#{i.depth},
            #{i.keywords},#{i.sort},#{i.icon},#{i.enable},
            #{i.isParent},#{i.isDisplay},#{i.gmtCreate},#{i.gmtModified})
        </foreach>
    </insert>
    <!--int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE
        FROM mall_pms.pms_category
        WHERE id = #{id}
    </delete>
    <!--int deleteByIds(Long[] id);-->
    <delete id="deleteByIds">
        DELETE FROM mall_pms.pms_category
        WHERE id in(
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
    <!--int update(Long id);-->
    <update id="update">
        UPDATE mall_pms.pms_category
        <set>
            <if test="name!=null">pms_category.name=#{name}</if>
            <if test="parentId!=null">#{parentId}</if>
            <if test="depth!=null">#{depth}</if>
            <if test="keywords!=null">#{keywords}</if>
            <if test="sort!=null">#{sort}</if>
            <if test="icon!=null">#{icon}</if>
            <if test="enable!=null">#{enable}</if>
            <if test="isParent!=null">#{isParent}</if>
            <if test="isDisplay!=null">#{isDisplay}</if>
            <if test="gmtCreate!=null">#{gmtCreate}</if>
            <if test="gmtModified!=null">#{gmtModified}</if>
            
        </set>
        WHERE id=#{id}
    </update>
    <!--int count();-->
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM mall_pms.pms_category
    </select>
    <!--CategoryStanderVO selectById(Long id);-->
    <select id="selectById" resultType="com.example.csmall.product.pojo.vo.CategoryStanderVO">
        SELECT  id,name,parent_id,depth,sort
        FROM mall_pms.pms_category
        WHERE id=#{id}
    </select>
    <!--List<CategoryListVO> list();-->
    <select id="list" resultType="com.example.csmall.product.pojo.vo.CategoryListVO">
        SELECT id, name,parent_id,depth,sort
        FROM mall_pms.pms_category
        ORDER BY sort DESC ,id DESC
    </select>
</mapper>
